
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<a href="/mag/Index?family=@ViewBag.family">صفحه ی مقاله</a>


@section Header{
  
    <h3>wellcom @ViewBag.name @ViewBag.family</h3>
    }