
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
 
}

<h2>Index</h2>

<div style="direction:rtl">

    <form action="~/asli/Index" method="get">
       نام  :<input type="text" name="name" /> 
        <br />
        نام خانوادگی :<input type="text" name="family" />
     
        <br />

        <input type="submit" value="ورود" />
    </form>
    <a href="/mag/Index">صفحه مقاله </a>

</div>